
table {
  border: solid 1px #dddada;
  border-collapse: collapse;
}

td, th {
  border: solid 1px #dddada;
  border-collapse: collapse;
  padding: 4px;
}

th {
  border-bottom: solid 2px #dddada;
}

header {
  margin-left: 220px;
  margin-right: 220px;
}

h1#title a {
  text-decoration: none;
  color: black;
}

/* Book */

.mokuji {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 20px;
}

.mokuji::-webkit-scrollbar {
  display: none;
}

.mokuji-3 a {
  text-decoration: none;
  color: white;
}

.mokuji-2 a {
  text-decoration: none;
  color: white;
  font-size: x-large;
}

.wrapper {
  margin-left: 220px; /* Same as the width of the sidenav */
  padding-left: 20px;
  margin-right: 220px;
}

.mokuji > ul {
  list-style-type: none;
  padding: 0;
  margin-right: 16px;
  padding-bottom: 24px;
}

.mokuji > ul > li {
  margin-top: 8px;
  margin-bottom: 8px;
}
