.wrapper {
  display: block;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -250px;
  z-index: 9999;
  background-color: white;
  overflow-y: scroll;
  transition: all 0.5s;
}

.sidebar.active {
    left: 0;
}

.sidebar .mokuji-content {
  margin-top: 64px;
  margin-bottom: 64px;
}

.btn-sidemenu {
  position: fixed;
  bottom: 0;
  left: 0;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
}

.home {
  position: absolute;
  top: 10px;
  left: 10px;
}

.footer {
  margin-top: 28px;
  margin-bottom: 48px;
}

.mokuji-2 a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}
