body {
  font-family: QuicksanBook, Helvetica, Arial, sans-serif;
  text-shadow: #101010 1px 1px 0px;
  color: #DDD;
  background-color: #f8f8f8;
  background-image: url(../img/background.png);
  margin: 20px 25px 20px 25px;
  padding: 0;
}

a {
  color: #222;
  font-family: QuicksanBook, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
  text-decoration: none;
}

a:active, a:focus {
  outline: 0;
}

a:hover {
  border-bottom:none;
}

table, td, th {
  border: 2px #AAA solid;
}

h1 {
  border-bottom: 1px #DDD solid;
  padding: 5px;
}

h2 {
  background-color: #888;
  color: #555;
  padding: 5px;
  text-shadow: none;
}

code {
/*  padding: 20px; */
/*  border: 1px dashed #DDD; */
}

blockquote {
/*  padding: 20px; */
/* border: 1px dashed #DDD; */
}

.card {
  font-size: 24px;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align:top;
  padding: 10px;
/*  border: 1px solid #efefef; */
  margin: 10px 10px 10px 10px;
  background: #CCC;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.card h1 {
  border-bottom: none;
  padding: 10px;
}

.card a {
  border-bottom:none;
}
