.complete {
  color: #CCC;
  text-decoration: line-through;
}

.archive {
  font-size: 10px;
  display: inline-block;
  padding: 3px;
  color: #C00;
  margin: 0 0 0 5px;
  cursor: pointer;
}

.update {
  font-size: 10px;
  display: inline-block;
  padding: 3px;
  color: #CCC;
  margin: 0 0 0 5px;
}
