.recipe[isCooking="false"] {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size:1em;
  border-left: 20px solid #039be5;
  padding-left: 10px;
}

.recipe[isCooking="true"] {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size:1em;
  border-left: 20px solid #000000;
  padding-left: 10px;
}
